<!doctype html>
<title>Hello from Flask</title>
{% if name %}
<h1>Hello {{ name }}!</h1>
<div>Navigate to test param page <a href="/testwithparam/first_parameter?queryparam=isitquery   ">click here</a></div>
<div>Navigate to test param page <form method="post">
    <input type=text name=param>
    <input type=submit value=first_param>
</form></div>
<div>Logout: <a href="/logout">click here</a></div>
{% else %}
<h1>Hello, World!</h1>
<div>Login to continue: <a href="/login">click here</a></div>
{% endif %}
