<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing with parameters</title>
</head>
<body>
    <h1>Testing with parameters</h1>
    <div>you have navigated to test page with this parameter: {{parameter}}</div>
    <div>back to <a href="/">root</a></div>
</body>
</html>